@tailwind base;
@tailwind components;
@tailwind utilities;
/* globals.css or any other CSS file */
@import '@fortawesome/fontawesome-free/css/all.min.css';


body {
  @apply transition-colors duration-500 font-sans;
}
html {
  scroll-behavior: smooth;
}

.glow {
  text-shadow: 0 0 3px #00f, 0 0 6px #00f, 0 0 9px #00f;
}

/* Constant subtle glow for navbar buttons */
.glow-btn {
  position: relative;
  display: inline-block;
  font-size: 1.125rem; /* Larger font size */
  padding: 0.5rem 1rem; /* Adjust padding to make buttons bigger */
  text-transform: capitalize;
  color: #ccc; /* Soft gray text color */
  text-shadow: 0 0 8px rgba(0, 255, 255, 0.6), 0 0 12px rgba(0, 255, 255, 0.5); /* Constant glow effect */
  transition: all 0.3s ease;
}

.glow-btn:hover {
  color: #fff; /* On hover, the text becomes white */
  text-shadow: 0 0 12px rgba(0, 255, 255, 1), 0 0 20px rgba(0, 255, 255, 0.8); /* Brighter glow on hover */
}
